    <div class="page">

      <header>
        <h1 class="main-title">Todo-Backend</h1>
        <h2 class="sub-title">a shared example to showcase backend tech stacks</h2>
      </header>

      <article class="intro">
        <p>The Todo-Backend project helps showcase and compare different language and framework combinations for building
          web services. This website defines a simple web API in the form of a todo list and users can create their own
          identical APIs using various tech stacks. This website then provides a spec runner to verify that the user
          implementation is identical to the base implementation.
          <br><br>
          The Todo-Backend project was inspired by the <a href="http://todomvc.com/">TodoMVC project</a>, and some code
          (specifically the todo client app) was borrowed directly from TodoMVC.
        </p>
      </article>

      <h1 id="implementations" class="secondary-title">Verified implementations</h1>

      <article class="implementations">
        <section class="logos">
          <h2>filter by implementation technology</h2>
          <%-data.impl_tags.each do |(tag,info)|
            logo_file = info.fetch("logo","#{tag}.svg")
          %>
            <div class="tag-block" data-tag="<%=tag%>">
              <img class="tag-logo" src="/images/logos/<%=logo_file%>"/>
              <span class="tag-label"><%=info["label"]%></span>
            </div>
          <%- end %>
        </section>

        <section class="implementation teaser">
          <h1 class="implementation-title">{YOUR IMPLEMENTATION HERE}</h1>
          <br>
          <p>
            It's very simple to build your own Todo-Backend implementation. It shouldn't take more than a few hours. <a href="contribute.html" target="_self">Read more.</a>
          </p>
        </section>

        <%# 

          *************************************************************
          *                                                           *
          * TO ADD AN IMPLEMENTATION MODIFY data/implementations.yaml *
          *                                                           *
          *************************************************************
        
        %>
        <% data.implementations.each do |title,details| %>
        <section class="implementation">
          <h1 class="implementation-title"><%=title%></h1>

          <p>
            <%=details[:description]%>
          </p>

          <div class="links">
            <a class="implementation-buttons" href="specs/index.html?<%=details[:live_url]%>">Run the Specs</a>
            <a class="implementation-buttons" href="<%=details[:sourcecode_url]%>">View the Code</a>
            <a class="example-implementation-button" href="client/index.html?<%=details[:live_url]%>">Example Implementation</a>
          </div>
        </section>
        <% end %>

      </article>
    </div>
